<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleIconFile</key>
	<string>CommandoIcon.icns</string>
	<key>CFBundleVersion</key>
	<string>1.0b5</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0b5</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0b5</string>
	<key>CFBundleName</key>
	<string>Commando</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
</dict>
</plist>
